version: "3"
services:
  db:
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: root
    image: mysql:8
    cap_add:
      - SYS_NICE  # CAP_SYS_NICE
    ports:
      - "3306:3306/tcp"
    volumes:
      - db:/var/lib/mysql
      - ./docker/provision/mysql/init:/docker-entrypoint-initdb.d
    container_name: db
    networks:
      - aka
  web_news_aggregator:
    build:
      context: ./news-aggregator
      dockerfile: deploy/Dockerfile
    ports:
      - "3005:3000/tcp"
    volumes:
      - ./news-aggregator:/app
    depends_on:
      - api_news_aggregator
    restart: on-failure:2
    container_name: web_news_aggregator
    networks:
      - aka
  api_news_aggregator:
    image: api_news_aggregator
    build:
      context: ./news-aggregator-backend
      dockerfile: deploy/Dockerfile
      args:
        APP_ENV: local
    environment:
      PUID: 1000 # How to check UID : execute on host machine `id -u ${whoami}`
      PGID: 1000 # How to check GID : execute on host machine `id -g ${whoami}`
      APP_ENV: local
      ERRORS: 1
    ports:
      - "7005:80/tcp"
    volumes:
      - ./news-aggregator-backend:/var/www/html
    links:
      - db
      - redis
    depends_on:
      - db
      - redis
    restart: on-failure:2
    container_name: api_news_aggregator
    networks:
      - aka
  redis:
    image: redis:4.0.11
    hostname: redis
    restart: unless-stopped
    volumes:
      - redis:/data
    container_name: redis
    networks:
      - aka
volumes:
  db:
  redis:

networks:
  aka:
    driver: bridge
